body {
    align-items: center;
    color: blue;
background: #000000;
background: -moz-linear-gradient(top, #000000 0%, #414141 74%, #8e9fb3 100%);
background: -webkit-linear-gradient(top, #000000 0%, #414141 74%, #8e9fb3 100%);
background: linear-gradient(to bottom, #000000 0%, #414141 74%, #8e9fb3 100%);
    margin: auto;
 
}
.numb{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    flex-wrap: nowrap;
  gap: 10px;
  height: 100vh;
}
.btn1, .btn2, .btn3 {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
    align-content: center;
    float: left;
    width: 160px;
    height: 220px;
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.btn1 {
background-image: url(img/music.png);
background-size: cover;
}

.btn2 {
background-image: url(img/films.jpg);
background-size: cover;
}

.btn3 {
background-image: url(img/more.jpg);
background-size: cover;
}