body {
  align-items: center;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
  background-image: url('img/pix.jpg');
  background-size: cover;
  background-attachment: fixed;
  mix-blend-mode: darken;
  isolation:auto;
  margin: auto;
  font-family: 'Sahadeva Regular', Arial;
}


body::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}

* :not([id^=mzodal]){
        mix-blend-mode:darken;
}

.numb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  height: 100vh;
-moz-transform: skew(4deg, -3.2deg);
-webkit-transform: skew(4deg, -3.2deg);
-o-transform: skew(4deg, -3.2deg);
-ms-transform: skew(4deg, -3.2deg);
transform: skew(4deg, -3.2deg);
}

.screen {
  
}



.screen  {
 background-image: url(img/pix.jpg);
 background-size: cover;
      mix-blend-mode: darken;
      isolation:auto;
      background-attachment: fixed;
z-index: 2;
}

.out {
  max-width: 60%;
  margin: auto;
  height: 31%;
}

    	[class^=btn] {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);
    align-content: center;
    float: left;
    width: 25%;
    height: 29%;
    font-size: 60px;
    color: rgb(5, 5, 5);
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-position: center;  
z-index: 0;
	}

      	[class^=btn] .out:hover {
          opacity: 85%;
cursor:pointer;
filter:blur(1.5px);
background-size: cover;
  border-bottom: 4px solid;
        }

.btn4 .out {
 height: 77%;
}

.btn1 {
background-image: url(img/music2.jpg);
background-size:cover;
}

.btn2 {
background-image: url(img/films2.jpg);
background-size: cover;
}

.btn3 {
background-image: url(img/more2.jpg);
background-size: cover;
}

.btn4 {
  background-image: url("img/othervisual.jpg");
  background-size: cover;
}

.btn5 {
  background-image: url("img/fashion.jpg");
  background-size: cover;
}

.qc {
background-image: url(img/qc.jpg);
background-position: center;
background-size:cover;
position:absolute;
height: 46px;
width: 322px;
top: 20px;
left: 40px;
z-index: 4;
-moz-transform: skew(4deg, -3.2deg);
-webkit-transform: skew(4deg, -3.2deg);
-o-transform: skew(4deg, -3.2deg);
-ms-transform: skew(4deg, -3.2deg);
transform: skew(4deg, -3.2deg);
}


.pixs {

}

@font-face {
  font-family: "Sahadeva Regular";
  font-style: normal;
  font-weight: 100;
  src: url(fonts/Sahadeva/sahadeva.ttf);
}

